{% load static %}
<html>

<head>
	<link rel="stylesheet" href="{% static 'css/college_styles.css' %}">
</head>

<body>
	<nav>
        <img src='{% static "img/logo.png" %}' alt="College logo">
        <ul>
            <li><a href="#">Mother Theresa Institute of Computer Applications, Palamaner</a></li>
        </ul>
    </nav>
	<div class="navbar">
		<a href="#">Home</a>
		<!--   <a href="#">Frames</a>    -->
		<div class="dropdown">
			<button class="dropbtn">Student</button>
			<div class="dropdown-content">
				<a href="{% url 'add_student' %}">Add Student</a>
				<a href="{% url 'list_students' %}">View Students</a>
			</div>
		</div>

	</div>
    {% block content %}

    {% endblock %}

</body>
<footer>
    &copy; 
    <p>Srikar TS, </p>
    <p>2724172, 
    <a href="mailto:srikarsri52@gmail.com">srikarsri52@gmail.com</a>
</footer>

</html>