{% extends 'base.html' %}
{% block content %}
    <table border="1" cellpadding="10">
        <tr>
            <th>Roll No</th><th>First Name</th><th>Last Name</th><th>Course</th><th>Email</th><th>Actions</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.course }}</td>
            <td>{{ student.email }}</td>
            <td>
                <a href='/crudapp/update_student/{{ student.id }}'>Edit</a>
                <a href='/crudapp/delete_student/{{ student.id }}'>Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}