{%   extends  "master.html"  %}
{% block title %}Book List{% endblock %}
{%  block content  %}
    <h1>Book List</h1>
    <table border="3">
        <th>Book name</th>
        <th>Book Author</th>
        <th>Publication Date</th>
        <th>Update</th>
        <th>Delete</th>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.publication_date }}</td>
            <td><a href="/update/{{ book.id }}">Update</a></td>
            <td><a href="/delete/{{ book.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
 {% endblock %}