{% load static %}
<html>

<head>
	<link rel="stylesheet" href="{% static 'css/college_styles.css' %}">
</head>

<body>
	<nav>
        <img src='{% static "img/logo.png" %}' alt="College logo">
        <ul>
            <li><a href="#">Mother Theresa Institute of Computer Applications, Palamaner</a></li>
        </ul>
    </nav>
        <div class="navbar">
            <a href="{% url 'book_list' %}">Home</a>
            <a href="{% url 'book_create' %}">Add Book</a>
            <a href="{% url 'book_list' %}">View Books</a>
        </div>
    {% block content %}

    {% endblock %}

</body>
<footer>
    &copy; 
    <p>Srikar TS, </p>
    <p>2724172, 
    <a href="mailto:srikarsri52@gmail.com">srikarsri52@gmail.com</a>
</footer>

</html>