{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="login_styles.css"> -->
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
</head>
<body>
    <main>
    <nav>
        <img src="{% static 'img/logo.png' %}" alt="College logo">
        <ul>
            <li><a href="#">Mother Theresa Institute of Computer Applications, Palamaner</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Login</h2>
        <form action="/submit-login" method="POST">
            <div id="user">
                <label for="username" class="username">Username </label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div id="pwd">
                <label for="password" class="pass">Password </label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>
            </div>
            <div id="chkbox">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember me </label>
            </div>
            <div id="foot">
                <button type="submit" id="login">Login</button>
                <button type="submit" id="signup">Sign up</button>    
            </div>
            <div class="forgot">
                <a href="#">Forgot Password?</a>
            </div>
        </form>
    </div>
    </main>
</body>
<footer>
    &copy; 
    <p>Srikar TS, </p>
    <p>2724172, 
    <a href="mailto:srikarsri52@gmail.com">srikarsri52@gmail.com</a>
</footer>
</html>