<html>
    <head>
        <title>Setting Font Size</title>
    </head>
    <body>
        <!-- <font size = '1'>Font size = '1'</font><br>
        <font size = '2'>Font size = '2'</font><br>
        <font size = '3'>Font size = '3'</font><br>
        <font size = '4'>Font size = '4'</font><br>
        <font size = '5'>Font size = '5'</font><br>
        <font size = '6'>Font size = '6'</font><br>
        <font size = '7'>Font size = '7'</font>
        <br>
        <h1>Relative Font Size</h1>
        <font size="7">Font size 7</font><br>
        <font size="-1">Font size -1</font>
        <font size="2">Font size 2</font>
        <font size="+1">Font size +1</font>
        <font size="4">Font size 4</font>
        <font size="+2">Font size +2</font>
        <font size="+3">Font size +3</font>
        <font size="+4">Font size +4</font> -->
        <h1>Setting Font color</h1>
        <font color="#ff00ff" size="5">This text is in pink color.</font><br>
        <font color="red" size="5">This text is in red color.</font><br>
        <font color="#ff0000" size="5">This text is in red.</font><br>
        <font color="#00ff00" size="5">This text is in green color.</font><br>
        <font color="#0000ff" size="5">This text is in blue color.</font><br>
        <font color="#ffff00" size="5">This text color is customized.</font>
    </body>
</html>